.hide-panel {
    display: none;
}

h5.form-header {
    padding: 1rem 0;
    border-bottom: 1px solid #e9ecef;
}

.central-form {
    width: 330px;
    margin: 20px auto;
}

.add-new-type {
    float: right;
}

.central-table {
    width: 700px;
    margin: 20px auto;
}

.register-me {
    float: right;
}

.table {
    margin: 20px auto !important;
    width: auto !important;
}

.container-fluid {
    width: 25% !important;
    min-width: 300px !important;
}

button.mybtn {
    min-width: 256px !important;
    margin: 3px 0 3px 0 !important;
}

a.mybtn {
    width: 110px !important;
}

.edit-btn {
    padding: 0 7px 0 5px !important;
    background-color: #7b98b3 !important;
}

.mybtn-split {
    margin: 3px 0 3px -1px;
}

.btn-logout {
    margin: 3px 0 3px 163px;
}