<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/resources/css/style.css"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script type="text/javascript" src="/resources/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/resources/js/main-ajax.js"></script>

    <title>Welcome!</title>
</head>
<body>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">

                <form method="post" name="deleteProfile" action="/app/delete-user-account" id="delete-account">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete account</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <input id="hiddenInput" type="hidden" name="accountId" value=""/>
                    <div class="form-group">
                        <br/>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" name="checkbox" value="Yes" class="custom-control-input"
                                   id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Delete this account? Are you
                                sure!?</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Yea! just do it!</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<div class="central-table">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" onClick="document.location = '/'">Come back!
        </button>
    </div>
    <div class="add-new-type btn-group" role="group" aria-label="Basic example">
        <input type="text" id="type-input" name="new-account-type-name"/>
        <button type="button" class="btn btn-secondary" onClick="addNewTypeAccount()">
            Create a type with this name
        </button>
    </div>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Account type</th>
            <th scope="col">Balance</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="ajax-user-accounts">
        <!--add table rows from list accounts -->
        <script>ajaxQueryForUserAccountsList()</script>
        <tr id="addNewAcc">
            <td scope="col"></td>
            <td scope="col">
                <select id="account-type-name">
                    <script>getTypesAccountsList()</script>
                </select>
            </td>
            <td scope="col">

                <input id="balance" type="text" name="account-type-name" oninput="Ftest (this)"
                       onpropertychange="if ('v' == '\v' && parseFloat (navigator.userAgent.split ('MSIE ') [1].split (';') [0]) <= 9) Ftest (this)"/>
            </td>
            <td scope="col">
                <button type='button' class='edit-btn btn btn-secondary' onClick="addNewAccount()">
                    Add new account
                </button>
            </td>
        </tr>


        </tbody>
    </table>

</div>

<!-- Bootstrap scripts -->
<script src="/resources/js/validate-input.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>